html{
  height: 100%;
}

body{
  margin: 0;
}

*{
  box-sizing: border-box;
}

.HeaderWrapper{
  width: 100%;
  padding: 30px;
}

.HeaderInner{
  background-color: #faf5f5;
  width: 100%;
  padding: 10%;
}

.HeaderContent{
  width: 100%;
}

.HeaderName{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5pt;
  font-size: 15px;
  margin-bottom: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #b19b9b;
}

.HeaderStrapline{
  font-family: 'Cormorant Garamond', serif;
  font-size: 2em;
  line-height: 1.4em;
  color: #585151;
}

@media screen and (min-width: 980px) {
  .HeaderContent{
    display: block;
    max-width: 920px;
    margin: 0 auto;
  }
  .HeaderStrapline{
    font-size: 2.5em;
  }
}

.HeaderCta{
  margin-top: 70px;
}

.HeaderCtaBtn{
  display: inline-block;
  vertical-align: middle;
}

.HeaderCtaBtn a{
  color: #b19b9b;
  text-decoration: none;
  padding: 15px 20px;
  border: 3px solid #b19b9b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5pt;
}

.HeaderCtaSideText{
  display: inline-block;
  vertical-align: middle;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  margin-left: 10px;
  font-size: 20px;
  color: #ccbdbd;
}

/* BIO */

.SectionBioWrapper{
  margin: -160px auto 0;
  display: block;
  max-width: 960px;
  padding-bottom: 100px;
  overflow: auto;
}

.SectionBioImage{
  width: 100%;
  max-width: 400px;
  float: right;
}

.SectionBioImageImg{
  width: 100%;
  height: auto;
}

.SectionBioTracks{
  float: left;
  max-width: 440px;
  width: 100%;
  padding-top: 160px;
}

.SectionBioHeader{
  font-family: 'Cormorant Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 36px;
  letter-spacing: -0.1pt;
  color: #585151;
  font-weight: 500;
}

.ComingSoon{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5pt;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #b19b9b;
}
